* {
  margin: 0;
  padding: 0;
  /*border:*/
}

body {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 4px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.article {
  border-radius: 10px;
}

header {
  text-align: center;
}

.summary {
  margin-top: 20px;
  padding: 10px;
}

p #caption {
  margin: 6px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  padding: 22px;
  background-color: lightgray;
  border-radius: 10px;
}

div {
  display: flex;
}

.music {
  margin-right: 8px;
}

span {
  padding-left: 10px;
  flex-direction: column;
}

h3 {
  padding: 3px;
}

.price {
  padding: 3px;
}

a {
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  outline: none;
  color: hsl(245, 75%, 52%);
}

.button:hover {
  color: hsl(245, 75%, 52%);
}

.a #proceed {
  margin: 4px;
  padding: 8px;
  cursor: pointer;
}

.a #cancel {
  margin: 4px;
  padding: 8px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
