* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  /*border:*/
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(images/pattern-background-desktop.svg);
}

main {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
  box-shadow: 1px 20px 20px hsl(224, 23%, 55%);
  border: inherit;
}

main:hover {
}

.hero {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.article {
  margin: 4px;
  padding: 4px;
}

.article:hover {
}

header {
  text-align: center;
}

.summary {
  margin-top: 10px;
  padding: 10px;
}

p #caption {
  margin: 6px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px;
  padding: 22px;
  background-color: lightgray;
  border-radius: 10px;
}

div {
  display: flex;
}

.music {
  margin-left: 4px;
  margin-right: 10px;
  margin-top: 4px;
}

span {
  padding-left: 10px;
  flex-direction: column;
}

h3 {
  padding: 3px;
}

.price {
  padding: 3px;
}

a {
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 8px;
}

.buttons {
  margin: 6px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: hsl(245, 75%, 52%);
}

.a #proceed {
  margin: 8px;
  padding: 4px;
  cursor: pointer;
}

.a #cancel {
  margin: 8px;
  padding: 4px;
  cursor: pointer;
}

#proceed:hover {
  border: 4px solid hsl(245, 75%, 52%);
}

#cancel:hover {
  border: 4px solid hsl(245, 75%, 52%);
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
